<!DOCTYPE html>
<html>
<head>
  <title>Geolocation</title>
  <%= stylesheet_link_tag    "geolocation/application", media: "all" %>
  <%= javascript_include_tag "geolocation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
